html{
    background-color: rgb(255, 229, 234);
}

.nome{
    color:  rgb(199, 10, 10);
    font: normal 25px fantasy, verdana, serif; 
    padding: 20px;
}
    

.paragrafo{
    margin-top: 400px;
    color:  rgb(199, 10, 10);
    top: 400px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 60px;
    width: 700px; 
    padding: 0 40px;
}


.texto{
    color: rgb(14, 14, 14);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 17px;
}

.texto2{
    color: rgb(14, 14, 14);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 17px;
    width: 200px;
    right: 20px;

}


.titulo{
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    left: 50px;
 
}

.primeiro{
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    top: 130px;
    width: 550px;
    left: 50px;
}


.menu{
    
    margin-top: -57%;
    text-align: right;
    padding: 0 150px;
    margin-left: 10px;
}

.menu a{
    margin-left: 10px;
    color: rgb(14, 14, 14);
    font: normal 15px fantasy, verdana, serif;
}

.contato{
    color:  rgb(199, 10, 10);
    width: 800px;
    margin-top: 60px;
    padding: 0 40px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    
}

.name{
    padding: 40px;
    width: 100px;
    font-family:  "Lucida Console", "Courier New", monospace; 
}

.name2{
    width: 290px;
    padding: 10px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
}

.last{
    margin-left: 10%;
    margin-top: -5%;
}

.last2{
    width: 290px;
    padding: 10px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
} 

.last3{
    margin-left: 340px;
   
}

.email{
    padding: 40px;
    width: 100px;
    font-family:  "Lucida Console", "Courier New", monospace;
}

.email2{
    width: 618px;
    padding: 10px;
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
}  


.message{
    padding: 40px;
    width: 100px;
    margin-top: -3%; 
    font-family:  "Lucida Console", "Courier New", monospace;
}

.buttom2{
    width: 100px;
    padding: 20px;
    background-color: red;
    border-color: red;
    margin-left: 40px;
    color: aliceblue;
}

.texto3{
    margin-top: -25%;
    margin-left: 40px;
    font-family:  "Lucida Console", "Courier New", monospace;
}

.last2{
    margin-top: -2%;
    margin-left: 20%;
}

.last3{
    margin-top: -2%;
    margin-left: 380px;
    font-family:  "Lucida Console", "Courier New", monospace;
}

.msg2{
    width: 610px;
    padding: 20px;  
    border-color: #C0C0C0;
    border-style: solid;
    border-width: 1px; 
}

.menu2{
    margin-top: -31%;
    text-align: right;
    padding: 0 50px;
}

.menu2 a{
    margin-left: 10px;
    color: rgb(14, 14, 14);
    font: normal 15px fantasy, verdana, serif;
}

.buraco{
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    right: 30px;
    padding: 0 40px;
}

.texto4{
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    padding: 40px;
    width: 900px;
    margin-top: 650px;

}

.titulo2{
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    padding: 0 40px;
    margin-top: 70px;

}

.texto5{
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    padding: 0 40px;
}

.texto6{
    padding: 0 500px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    margin-top: -7%;
}

.texto7{
    margin-top: 100px;
    color:  rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    padding: 0 40px;

}

.texto8{
    color:  rgb(199, 10, 10);
    padding: 0 40px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 15px;
}

.texto9{
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 15px;
    padding: 0 500px;
    margin-top: -6%;
}

.texto10{
    margin-top: 100px;
    color:  rgb(199, 10, 10);
    padding: 0 40px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
} 

.texto11{
    color:  rgb(199, 10, 10);
    padding: 0 40px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 15px;
}

.texto12{
    padding: 0 500px;
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 15px; 
    margin-top: -6%;
}  

.texto13{
    color: rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    padding: 0 40px;
    width: 800px;
    margin-top: 250px;
}

.img{
    width: 28px;
    padding: 0 1175px;
    margin-top: -2%;
    margin-left: 40px;
    position: absolute;

}

.img2{
    width: 17px;
    padding: 0 1225px;
    position: absolute;
    margin-left: 30px;
    margin-top: -2%;
}

.menu3 a{
    color: rgb(199, 10, 10);
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 60px;
    position: absolute;
    margin-top: 90px;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;


}

.seta {
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    transform: rotate(1deg);
    margin-top: 145px;
    margin-left: 140px;
  }
  .seta span {
    width: 43px;
    height: 4px;
    background-color: rgb(199, 10, 10);
    position: relative;
  }
  .seta span:before,
  .seta span:after {
    margin-left: 23px;
    content: "";
    width: 25px;
    height: 80%;
    background-color: rgb(199, 10, 10);
    position: relative;
    display: flex;
  }
  .seta span:before {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    bottom: 6px;
  }
  .seta span:after {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    bottom: -6px;
  }
  
  .instagram a{
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    color: rgb(199, 10, 10);
    margin-top: 170px;
    position: absolute;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;

  }

  .twitter a{
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    color: rgb(199, 10, 10);
    margin-top: 170px;
    position: absolute;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
    margin-left: 170px;
    
  }

.instagram2 a{
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    color: rgb(199, 10, 10);
    margin-top: 500px;
    margin-left: 40px;
    position: absolute;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px; 
}

.twitter2 a{
    font-family:  "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    color: rgb(199, 10, 10);
    margin-top: 500px;
    position: absolute;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
    margin-left: 210px;

}