html{
    background-color: pink;
}

.nome{
    color: rgb(168, 96, 128);
    position: fixed;
    font: normal 25px fantasy, verdana, serif; 
    left: 50px
}
    

.paragrafo{
    color: rgb(168, 96, 128);
    position: fixed;
    top: 390px;
    font: normal 50px fantasy, verdana, serif;
    width: 600px ; 
    left: 50px;

}

.texto{
    color: rgb(14, 14, 14);
    position: fixed;
    font: normal 17px fantasy, verdana, serif;
    width: 200px;
    right: 140px;
    
}

.texto2{
    color: rgb(14, 14, 14);
    position:fixed;
    font: normal 17px fantasy, verdana, serif;
    width: 200px;
    right: 20px;

}


.titulo{
    color: rgb(168, 96, 128);
    font: normal 25px verdana, fanatsy, serif;
    position: fixed;
    left: 50px;
 
}

.primeiro{
    color: rgb(168, 96, 128);
    font: normal 25px verdana, fanatasy, serif;
    top: 130px;
    width: 550px;
    left: 50px;
    position: fixed;
}


.form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-top: 1em;
}



